<head> </head>
<body>
  <!-- Sidebar -->
  <div class="sidebar">
    <div class="title-area"> <app-sidebar-title></app-sidebar-title> </div>
    <div class="teams-area">
      <app-sidebar-teams></app-sidebar-teams>
    </div>
    <div class="folders-area">
      <app-folders></app-folders>
    </div>
    <div class="links-section"><app-sidebar-bottom-links></app-sidebar-bottom-links></div>
  </div>

  <!-- Main View -->
  <div class="main-view">


      
    <!-- <div class="products-header">Products Header</div> -->
    <div class="products-table">
      <app-products></app-products>

      
    </div>
  </div>
</body>
